* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.container>h1 {
  text-align: center;
}

.container>ul>li {
  list-style: none;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #000000;
  }

  .container>ul>li {
    border: 1px solid #121212;
  }
}
